{% extends 'base.html.twig' %}


{% block body %}
<style>
.container{
    width: 75%;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

</style>

<br> 
<h1>Créer une catégorie</h1>

<div class = "container">
{{ form_start(form, {'action': path(app.request.get('_route')), 'method': 'POST', 'enctype':'multipart/form-data'}) }}
<label class = "col-form-label col-md-11"style ="display: inline-block;"> {{ form_row(form.name) }} </label><br>
{{ form_end(form) }}

</div>
{% endblock %}