{% extends 'base.html.twig' %}


{% block body %}

<h1>Catagories list</h1>

<ul>
{% for category in categoryList %}
<li>{{ category.name }}  <a class = "btn btn-danger" href = "#">Supprimer</a> </li> 
{% endfor %}
</ul>



{% endblock %}
