{% extends 'base.html.twig' %}


{% block body %}

<br>
<h1>Create a card</h1>
<br> 


<div class = "container">
{{ form(form, {'action': path(app.request.get('_route')), 'method': 'POST', 'enctype':'multipart/form-data'}) }}
</div>
{% endblock %}