{% extends 'base.html.twig' %}


{% block body %}

<br>
<h1>Créer une carte</h1>
<br> 


<div class = "container">
{{ form(form, {'action': path(app.request.get('_route')), 'method': 'POST'}) }}
</div>
{% endblock %}