{% extends 'base.html.twig' %}



{% block body %}
 
<div class = "container_main">
{% include 'user/header.html.twig' %}

<div id = "content">
<br>

<h1> {{ app.user.name }}</h1>

</div>
</div>
{% endblock %}
{% block javascripts %}

<script>
            $(document).ready(function(){
              $('nav ul a').click(function (e){
            e.preventDefault();
            $('nav a').removeClass('active');
            $(this).addClass('active');
            if (e.target.pathname == "/user"){
                $(".container_main").load($(this).attr('href'))
            } else {
                $("#content").load($(this).attr('href'))
            }
        });
                $('#content').on('submit','form', function (e) {
                    e.preventDefault();
                    var form = $(this);
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: new FormData(this),
                        contentType: false,
                        processData: false,
                        success: function success(response) {
                            $('#content').load($('.active').attr('href'));
                        }

                    })
                });
            });
        </script>
{% endblock %}
